*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--dark: #242424;
	--color1: #fee600;
	--color2: #ff9703;
	--color3: #ff7959;
	--default-star-fill: transparent;

	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: var(--dark);
	background-color: #ffffff;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.rate-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	column-gap: 40px;
	row-gap: 50px;
	max-width: 450px;
	width: fit-content;
	margin: 0 auto;
}
.stars-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 10px;
}
.total-rate {
	padding-top: 50px;
}
